*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  height: 70px;
  box-shadow: 0 3px 6px rgb(190, 168, 168);
  z-index: 10;
}

.headercontaner {
  display: flex;
  height: 70px;
  max-width: 100%;
  position: reative;
  align-items: center;
  justify-content: space-between;
  margin: 0 36px 0 36px;

}

header img {
  height: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 10px;
  box-sizing: border-box;
}

ul li {
  flex: auto;
  text-align: center;
  padding-left: 40px;
  text-decoration: none;
  color: black;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #F79214;
  border-radius: 38px;
  font-weight: 700;
  color: white;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
  align-items: center;
}

.container {
  position: relative;
  top: 70px;
  height: 739px;
  z-index: 1;
}

.left-triangle {
  position: absolute;
  left: 0;
  z-index: 4;
}

.man {
  position: absolute;
  height: 80%;
  right: 0;
  z-index: 2;
}

.circle {
  position: absolute;
  top: 150px;
  left: -70px;
  z-index: 1;
}

.right-triangle {
  position: absolute;
  bottom: 70px;
  right: 0%;
  z-index: 1;
}

.no1 {
  position: absolute;
  width: 15%;
  top: 20%;
  left: 40%;
  z-index: 5;
  width: 15%;
}

.main {
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 100%;
  font-weight: 100%;
  padding: 10px;
  z-index: 5;
}

h1 {
  position: relative;
}

h3 {
  justify-content: center;
  text-align: center;
  background-color: #F79214;
  border-radius: 38px;
  font-weight: 700;
  font-size: 12px;
  height: 60px;
  align-items: center;
  width: 400px;
  padding: 15px;
  border-radius: 40px;
  font-size: 15px;
  color: white;
}

.button:hover {
  opacity: 0.5;
  text-decoration: none;
  color: inherit;
}

h3:hover {
  opacity: 0.5;
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.toggle-menu-button {
  display: none;
  flex-direction: column;
  width: 44px;
  height: 34px;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: none;
  outline: none;
  justify-content: space-between;
  background-color: transparent;
}

@media (max-width: 1080px) {
  .headerNav {
    display: none;
  }

  .toggle-menu-button {
    display: flex;
  }

  .HeaderNavHamburger__line {
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #A2A2A4;
    transform: translate(0, -50%);
    border-radius: 10px;
  }

}

@media (max-width: 767px) {
  .container {
    display: flex;
    min-width: 500px;
    margin-bottom: 7px;
    width: 100%;
  }


 .left-triangle {
  position: absolute;
  left: -10%;
  height: 20%;
  z-index: 4;
 }

 .man {
  position: absolute;
  height: 50%;
  z-index: 2;
 }

 .circle {
  height: 50%;
  top: 50px;
  left: -10%;
  z-index: 1;
 }

 .right-triangle {
  display: none;
 }

 .no1 {
  margin-top: 150px;
  margin-left: 150px;
  z-index: 5
 }

 .main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 150px;
  left: 0;
  z-index: 5;
 }

 h1{
  font-size: 22px;
 }

 h5{
  font-size: 12px;
 }
}